body {
  background-color: rgb(107, 48, 171);
  font-family: sans-serif;
  font-size: 20px;
}

h2 {
  font-size: 40px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(0, 255, 221);
  border: 5px;
}
